{% extends 'base.html.twig' %}

{% block title %}Hello ActorController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="formRegistro">
            <h1>Crear Actor</h1>
            {{ form_start(formEditActor) }}
                <div class="form-group">
                    {{ form_row(formEditActor.nombre) }}
                </div>
                <div class="form-group">
                    {{ form_row(formEditActor.fotoActor) }}
                </div>
            <div class="form-group">
                {{ form_row(formEditActor.peliculas) }}
            </div>
                <div id="btnAltaPelicula">
                    {{ form_row(formEditActor.Submit) }}
                </div>
            {{ form_end(formEditActor) }}
        </div>
    </div>

{% endblock %}
