{% extends 'base.html.twig' %}

{% block title %}Hello ActorController!{% endblock %}

{% block body %}
    <div class="container">
        {% if app.user %}
            <div class="">
                <a class="btn btn-info transition-all hover:bg-green-300" href="/insertar/actor"> Crear Nuevo Actor</a>
            </div>
        {% endif %}
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <td >Id</td>
                <td >Nombre</td>
                <td >Opciones </td>
            </tr>
            </thead>
            <tbody>
                {% for actor in actores %}
                    <tr>
                        <td>{{ actor.id }}</td>
                        <td>{{ actor.nombre }}</td>
                     {#   <td>
                            <button class="btn btnInfo btn-info"><a style="text-decoration:none; color:white" href="{{ path('details_actor', {id:actor.id}) }}"><i class="fa-regular fa-eye"></i>Ver</a></button>
                            <button class="btn btnWarning btn-warning"><a style="text-decoration:none; color:white" href="{{ path('update_actor', {id:actor.id}) }}"><i class="fa-regular fa-pen-to-square"></i>Editar</button>
                            <button class="btn btnDanger btn-danger"><a style="text-decoration:none; color:white" href="{{ path('remove_actor', {id:actor.id}) }}"><i class="fa-regular fa-trash-can"></i>Eliminar</button>
                        </td>#}
                    </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
