{% extends 'base.html.twig.' %}

{% block title %}Hello PeliculaController!{% endblock %}

{% block navBar %} {{ parent() }}{% endblock %}

{% block body %}
<div class="container">
    {{ form(form) }}
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Id</td>
            <td>Titulo</td>
            <td>Descripcion</td>
            <td>Fecha Alta</td>
            <td>Portada</td>
            <td class="text-center" colspan="3">Opciones </td>
        </tr>
        </thead>
        <tbody>
        {% for pelicula in peliculas %}
        <tr>
            <td><a href="{{ path('details_pelicula', {id:pelicula.id}) }}">Ver</a></td>
            <td>{{ pelicula.titulo }}</td>
            <td>{{ pelicula.descripcion }}</td>
            <td>{{ pelicula.fecha_alta | date('d/m/Y')}}</td>

            <td>
                {% if pelicula.foto != null %}
                    <img src="{{ asset('uploads/files/' ~ pelicula.foto) }}" alt="Not found" {#width="100%"#}>
                {% endif %}
            </td>
            <td class="btn btn-info"><a href="{{ path('details_pelicula', {id:pelicula.id}) }}"><i class="fa-regular fa-eye"></i></a></td>
            <td class="btn btn-warning"><i class="fa-regular fa-pen-to-square"></i></td>
            <td class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
