{% extends 'base.html.twig.' %}

{% block title %}Hello PeliculaController!{% endblock %}

{% block navBar %} {{ parent() }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    {{ form(form) }}
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Id</td>
            <td>Titulo</td>
            <td>Descripcion</td>
            <td>Fecha Alta</td>
            <td class="text-center" colspan="3">Opciones </td>
        </tr>
        </thead>
        <tbody>
        {% for pelicula in peliculas %}
        <tr>
            <td><a href="{{ path('details_pelicula', {id:pelicula.id}) }}">Ver</a></td>
            <td>{{ pelicula.titulo }}</td>
            <td>{{ pelicula.descripcion }}</td>
            <td>{{ pelicula.fecha_alta | date('d/m/Y')}}</td>
            <td><i class="fa-regular fa-pen-to-square"></i></td>
            <td><i class="fa-regular fa-eye"></i></td>
            <td><i class="fa-solid fa-trash-can"></i></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
