{% extends 'base.html.twig.' %}

{% block title %}Hello PeliculaController!{% endblock %}

{% block navBar %} {{ parent() }}{% endblock %}
{% block stylesheets%}{{ parent() }} {% endblock %}
{% block body %}
   {# {{ parent() }}#}
<div class="container">
    {% if app.user %}
        <div class="">
            <a class="btn btn-info transition-all hover:bg-green-300" href="/insertar/pelicula"> Crear Nueva Pelicula</a>
        </div>
    {% endif %}
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <td >Id</td>
            <td >Titulo</td>
            <td >Fecha Alta</td>
            <td >Portada</td>
            <td >Opciones </td>
        </tr>
        </thead>
        <tbody>
        {% for pelicula in peliculas %}
            <tr>
                <td>{{ pelicula.id }}</td>
                <td>{{ pelicula.titulo }}</td>
                <td>{{ pelicula.fecha_alta | date('d/m/Y')}}</td>
                <td class="imgTabla">

                    {% if pelicula.foto != null %}
                        <img src="{{ asset('uploads/files/' ~ pelicula.foto) }}" alt="Not found" width="40%">
                    {% endif %}
                    {#<img style="width: 60%" src="{{ pelicula.foto }}">#}
                </td>
                <td>
                    <button class="btn btnInfo btn-info"><a style="text-decoration:none; color:white" href="{{ path('details_pelicula', {id:pelicula.id}) }}"><i class="fa-regular fa-eye"></i>Ver</a></button>
                    <button class="btn btnWarning btn-warning"><a style="text-decoration:none; color:white" href="{{ path('update_pelicula', {id:pelicula.id}) }}"><i class="fa-regular fa-pen-to-square"></i>Editar</button>
                    <button class="btn btnDanger btn-danger"><a style="text-decoration:none; color:white" href="{{ path('remove_pelicula', {id:pelicula.id}) }}"><i class="fa-regular fa-trash-can"></i>Eliminar</button>
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}
